<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Info</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/business">All Businesses</a>
        <a href="/business/new">Add Business</a>
    </nav>
    <h1>Business Information</h1>
        
    <div>
        <p><strong>Name:</strong> <%= business.name %></p>
        <p><strong>Owner:</strong> <%= business.owner %></p>
        <p><strong>Mission Statement:</strong> <%= business.businessValues %></p>
        <p><strong>Business Type:</strong> <%= business.category %></p>
    </div>
    <div>
        <strong>Address:</strong> 
        <%= business.address.streetNumber %>,
        <%= business.address.streetName %>,
        <%= business.address.city %>,
        <%= business.address.state %>,
    </div>
    <p><strong>Contact:</strong> <%= business.contact %></p>

    <form action="/business/<%=business._id%>/edit" method="GET">
        <input type="submit" value="Edit Business Info"/>
    </form>
      
</body>
</html>