<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/productEdit.css">
    <title>Edit Product</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
              <li class="nav-item"></li>
                <a class="nav-link" href="/">Home</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/businesses">Businesses</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/aboutus">About Us</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/contact">Contact</a>
                <h3 class="header-slogan">Edit Your Product Here!</h3>
            </ul>
        </nav>
    </header>  
      <section class="hero" id="product-info">
        <form action="/products/<%=product._id%>?_method=PUT" method="POST">
            <div>
                <label for="category">Category:</label>
                <input value="<%= product.category %>" type="text" name="category" id="category">
            </div>
            <div>
                <label for="name">Product Name:</label>
                <input value="<%= product.name %>" type="text" name="name" id="name">
            </div>
            <div>
                <label for="description">Description:</label>
                <input value="<%= product.description %>" type="text" name="description" id="description">
            </div>
            <div>
                <label for="quantity">Quantity:</label>
                <input value="<%= product.quantity %>" type="text" name="quantity" id="quantity">
            </div>
            <div>
                <label for="price">Price:</label>
                <input value="<%= product.price %>" type="number" name="price" id="price">
            </div>
            <div>
                <label for="images">Images:</label>
                <input value="<%= product.images %>" type="text" name="images" id="images">
            </div> 
            <div>
                <input class="submit" type="submit" value="Submit Changes">
            </div>

        </form>
      </section>
    <%- include('../footer') %> 
</body>
</html>