<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productShow.css">
    <title>Product Info</title>
</head>
<body>
    <header>
      <form action="/search" method="GET">
        <nav class="nav-bar">
            <ul>
              <li class="nav-item"></li>
                <a class="nav-link" href="/">Home</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/products">Products</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/businesses">Businesses</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/aboutus">About Us</a>
              <li class="nav-item"></li>
                <a class="nav-link" href="/contact">Contact</a>
                <h3 class="header-slogan">Product Information</h3>
              <li class="search"></li>
              <input type="search" placeholder="search" name="search" id="search">
            </ul>
        </nav>
      </form>
    </header>
    <section class="hero">
              <div class="product-info">
                <p><strong>Category:</strong> <%= product.category %></p>
                <p><strong>Business:</strong> <%= product.business %></p>
                <p><strong>Product Name:</strong> <%= product.name %></p>
                <p><strong>Description:</strong> <%= product.description %></p>
                <p><strong>Quantity:</strong> <%= product.quantity %></p>
                <p><strong>Price:</strong> <%= product.price %></p>
                <p><strong>Images:</strong> <%= product.images %></p>
              </div>
            <form class="button" action="/products/<%=product._id%>/edit" method="GET">
                <input type="submit" value="Edit Product Info"/>
            </form>
            <form class="button" action="/products/<%=product._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Product"/>
            </form>
      </form>
      </section>
    <%- include('../footer') %>
</body>
</html>